/*
 * entropy.css
 * Copyright (C) 2019-2023 Óscar García Amor
 *
 * Distributed under terms of the GNU GPLv3 license.
 */

@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 400;
  src: local('Arvo'), url(https://fonts.gstatic.com/s/arvo/v10/tDbD2oWUg0MKqScQ7Z7o_vo.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: swap;
}

@font-face {
  font-family: 'Indie Flower';
  font-style: normal;
  font-weight: 400;
  src: local('Indie Flower'), local('IndieFlower'), url(https://fonts.gstatic.com/s/indieflower/v10/m8JVjfNVeKWVnh3QMuKkFcZVaUuH.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: swap;
}


body {
  font-family: Arvo, Helvetica, Tahoma, sans-serif;
  margin: 0 0 3rem 0;
}

h1, h2, h3, h4 {
  margin: 0;
}

nav {
  margin: 0 0 2px 84px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style: none;
  display: inline;
  padding-right: 4px;
}

nav a {
  padding: 10px 10px 4px 10px;
  line-height: 28px;
  border-bottom: 4px solid #2c3e50;
  text-transform: lowercase;
}

a {
  color: #006;
  text-decoration: none;
}

a:hover {
  color:#006;
  border-bottom-color:#00a;
}

pre {
  background-color: #333 !important;
  color: #fff;
}

article {
  margin: 20px 0;
}

article header {
  margin-bottom: 16px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 25rem;
  padding-right: 25rem;
}

.list {
  display: grid;
  grid-template-columns: 8rem 1fr;
  grid-gap: 1rem;
  margin-bottom: .5rem;
}

.list .post-date {
  text-align: right;
}

.header {
  background: #eee;
  padding-top: 1rem;
  border-bottom: 1px solid #424;
}

.id-block {
  margin-bottom: 1rem;
}

.title {
  color: #2c3e50;
  font-size: 14px;
  font-family: 'Indie Flower';
}

.subtitle {
  font-size: 10px;
  padding-left: 4px;
}

.avatar {
  float: left;
  margin: 0 12px;
}

.avatar img {
  width: 76px;
  height: 76px;
  border: 1px solid #aaa;
  border-radius: 50%;
}

.body {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.post-title h1 {
  font-size: 28px;
  margin-bottom: 6px;
}

.post-date-author {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.project-title {
  text-align: right;
}

.project-title, .post-author, .post-date {
  color: #595959;
}

.post-author {
  text-align: right;
}

.post-body {
  text-align: justify;
}

@media screen and (max-width: 1600px) {
  .container {
    padding-left: 20rem;
    padding-right: 20rem;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (max-width: 640px) {
  .header {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .container {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}

@media screen and (max-width: 610px) {
  nav ul {
    margin: 0 20px 8px 18px;
  }

  nav ul li {
    display: block;
    padding-right: initial;
  }

  nav ul li:not(:first-child) {
    border-top: 1px solid #424;
  }

  nav a {
    border-bottom: 0;
  }

  .list {
    display: block;
  }

  .list .post-date, .project-title {
    text-align: initial;
  }
}

@media screen and (max-width: 366px) {
  .avatar {
    display: none;
  }

  nav {
    margin: 0;
  }

  nav ul {
    margin: 8px 10px;
  }

  .header {
    padding-left: .5rem;
    padding-right: .5rem;
  }

  .body {
    padding-left: .5rem;
    padding-right: .5rem;
  }
}
