<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#2c3e50">
    <meta name="description" content="{{ config.description }}">
    <meta name="author" content="{{ config.author }}">
    <meta name="keywords" content="{{ trans(key="keywords", lang=lang) }}">
    <meta name="url" content="{{ config.base_url | safe }}" itemprop="url">
    <meta property="og:title" content="{{ trans(key="header_title", lang=lang) }}">
    <meta property="og:url" content="{{ config.base_url | safe }}">
    <meta property="og:description" content="{{ config.description }}">
    <meta property="og:image" content="{{ config.extra.og_image | safe }}">
    {%- if config.extra.twitter_name %}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="{{ config.extra.twitter_name }}">
    <meta name="twitter:title" content="{{ trans(key="header_title", lang=lang) }}">
    <meta name="twitter:description" content="{{ config.description }}">
    <meta name="twitter:image" content="{{ config.extra.twitter_image | safe }}">
    <meta name="twitter:url" content="{{ config.base_url | safe }}">
    {%- endif %}
    {%- if config.extra.favicon %}
    <!-- Custom Icon -->
    <link rel="shortcut icon" href="{{ get_url(path=config.extra.favicon) }}" />
    {%- endif %}
    <!-- Entropy Custom CSS -->
    <link rel="stylesheet" href="{{ get_url(path="css/entropy.css") }}" />
    {%- block extra_css %}
    {%- endblock extra_css %}
    {%- if config.generate_feed %}
    {% block rss %}
    <!-- Blog RSS -->
    <link rel="alternate" type="application/atom+xml" title="{{ config.title }}" href="{{ get_url(path="atom.xml", trailing_slash=false, lang=lang) }}">
    {% endblock rss %}
    {%- endif %}
    {% set root_section = get_section(path="_index.md") %}
    {% set posts_section = get_section(path="posts/_index.md") %}
    <title>{% if page.title %}{{ page.title }}{% else %}{{ posts_section.title }}{% endif %} &ndash; {{ config.title }}</title>
  </head>
  <body>
    <div class="header">
      <div class="container">
        <div class="id-block">
          <div class="avatar"><img src="{% if config.extra.avatar %}{{ config.extra.avatar | safe }}{% else %}//via.placeholder.com/76{% endif %}" alt="" /></div>
          <div class="title">
            <h1>{{ trans(key="header_title", lang=lang) }}</h1>
          </div>
          <div class="subtitle">
            <h2>{{ trans(key="header_subtitle", lang=lang) }}</h2>
          </div>
        </div>
        <nav>
          <ul>
            {%- block nav_back %}
            {%- endblock nav_back %}
            {% for page in root_section.pages | concat(with=config.extra.social) | sort(attribute="extra.order") %}
            <li>
              <a {% if page.title | lower == "mastodon" %}rel="me"{% endif %} href="{{ page.permalink | safe }}">{{ page.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </nav>
      </div>
    </div>
    <div class="body">
      <div class="container">
        {% block content %}
        {% endblock content %}
      </div>
    </div>
  </body>
</html>
