{% extends "base.html" %}

{% block content %}
{%- set posts_section = get_section(path="posts/_index.md") %}
{%- for page in posts_section.pages %}
<div class="list">
  <div class="post-date">
    <time datetime="{{ page.date }}">{{ page.date | date(format="%d %b %Y", locale=trans(key="locale", lang=lang)) | title }}</time>
  </div>
  <div class="post-title">
    <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
  </div>
</div>
{% endfor %}
{% endblock content %}
