{% extends "base.html" %}

{% block extra_css %}
<!-- GitHub Markdown style: https://github.com/sindresorhus/github-markdown-css -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/3.0.1/github-markdown.min.css" />
{% endblock extra_css %}

{%- block nav_back %}
<li>
  <a href="{{ get_url(path="/") }}">{{ trans(key="back", lang=lang) }}</a>
</li>
{%- endblock nav_back %}

{% block content %}
<article>
  <header>
    <div class="post-title">
      <h1>{{ page.title }}</h1>
    </div>
    {%- if "posts" in page.components %}
    <div class="post-date-author">
      <div class="post-date">
        <time class="post-date" datetime="{{ page.date }}">{{ page.date | date(format="%d %b %Y", locale=trans(key="locale", lang=lang)) }}</time>
        | {% if page.reading_time == 1 %}{{ trans(key="reading_time_one", lang=lang) }}{% else %}{{ trans(key="reading_time_other", lang=lang) | replace(from="{}", to=page.reading_time | as_str) }}{% endif %}
      </div>
      <div class="post-author">
        {{ config.author }}
      </div>
    </div>
    {%- endif %}
  </header>
  <div class="post-body markdown-body">
    {{ page.content | safe }}
  </div>
</article>
{% endblock content %}

