{% extends "base.html" %}

{% block content %}
{%- for page in section.pages %}
<ul>
 <li>
   <time datetime="{{ page.date }}">{{ page.date | date(format="%d %b %Y", locale=trans(key="locale", lang=lang)) | title }}</time>:
   <a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
</ul>
{% endfor %}
{% endblock content %}
